.float-sup {
    width: 500px;
    /*height: 50px;*/
    background: gray;

    /*垂直居中：方法1、2、4*/
    /*position: relative;*/

    /*垂直居中：方法3*/
    /*display: flex;*/
    /*align-items: center;*/


    /*垂直居中：方法5*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/

}

.float-el-center{
    width: 100%;
    /*height: 30px;*/
    background: #1fb4ef;

    /*垂直居中 方法1*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/


    /*垂直居中(父子组件固定高度) 方法2*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -15px;*/

    /*垂直居中(父子组件固定高度) 方法4*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translate(0 , -50%);*/

    /*清除浮动方式三： 浮动元素父级添加overflow*/
    /*overflow: hidden;*/
    /*zoom: 1;*/

}
/*清除浮动方式二： 浮动元素父级添加伪元素*/
.float-el-center:after{
    content: '.';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}



.float-el {
    float: left;
    margin-left: 10px;
    height: 130px;
    min-width: 120px;
    background: red;
}




.float-son {
    background: blue;
    color: white;
    display: inline-block;

}

.clear-float{
    /*清除浮动方式一：浮动的元素下面添加一个空标签，clear：both*/
    clear: both;
    zoom: 1;
}

.float-no{
    /*display: inline-block;*/
    background: yellow;
}